body {
    background-image: url(../Projet/image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

a {
    color: orange;
    text-transform: capitalize;
    font-size: large;
}

li.nav-item {
    margin-left:2px;
    float:left;
    display: inline;
    list-style: none;
    border-right: 1px white solid;
}

strong {
    font-family: 'Bungee Hairline', sans-serif;
    text-transform: uppercase;
    font-size: xx-large;
}

nav {
    opacity: 80%;
}

div.container {
    background-color: white;
    opacity: 90%;
    border: 5px double black;
}

h1 {
    padding: 10px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    text-align: justify;
    padding-bottom: 0;
}