.h1{
text-align: center;
padding-top: 50px;
padding-bottom: 50px;
}

@font-face {
    font-family: 'army_rustregular';
    src: url('army_rust-webfont.woff2') format('woff2'),
         url('army_rust-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'pervitina_dexregular';
    src: url('pervitina-dex-ffp-webfont.woff2') format('woff2'),
         url('pervitina-dex-ffp-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.navbar a{
  color: orange !important;
  font-family: 'army_rustregular', sans-serif;
  font-size: 20px;
}
.navbar h2{
  color : orange !important;
  font-family: 'pervitina_dexregular', sans-serif;
  font-size: 30px;
}
.h1{
  color:red;
}

h2{
  text-align: center;
  color:cyan;
}

.footer-basic{
  position: absolute; bottom: 2; left: 0; right: 0;
}
.footer-basic {
  padding:40px 0;
  background-color:#bcbcbc;
  color:#736457;
}

.footer-basic ul {
  position:
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#736457;
  margin-bottom:0;
}
